language: python
python:
  - "2.7"
before_install:
  - sudo apt-get install pandoc
  - pip install coveralls 
install:
  - python setup.py install
script: nosetests test/
after_success:
  - coveralls
